.sider-financiador {
    margin: 0;
    color: blue;
    padding: 0;
    list-style-type: none;
    width: 288px;
    height: 900px;
    left: 0px;
    top: 0px;
  }
  
    
.ret {
      content: no-close-quote;
      background-color: #00AD8C;
      width: 4px;
      height: 64px;
      left: 0px;
      top: 10px;
      margin-right: 5px;
      margin-left: 0px;
      font-weight: bold;
      border-radius: 4px;

    }

.sider-fornecedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 288px;
    height: 144px;
    left: 0px;
    top: 0px;
}


.menu-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 288px;
    height: 80px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    

}

.menu-hero img {
    position: absolute;
    height: 30px;
    width: 160px;
    left: 24px;
    top: 25px;
    border-radius: 0px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 64px;
    width: 288px;
    left: 0px;
    top: 80px;
    border-radius: 0px;
    
    
}

.menu-item-selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 21px;
    width: 149px;
    height: 64px;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.menu-item li {
    align-items: center;
    color: #00AD8C;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 124px;
    height: 44px;
    left: 25px;
    top: 10px;
    border-radius: 0px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
  }

  img {
    max-width: 288px;
    max-height: 80px;
  }