.App {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}
.container {
  display: flex;
  position: relative;
  background-color: #FBFDFE;
  height: 900px;
  width: 1560px;
  left: 0px;
  top: 0px;
  border-radius: 0px;

}
